.panel{
    width: 100%;
    height: 100%;
}

.answered-questions{
    color: aliceblue;
}

.unanswered-questions{
    color:rgb(128, 128, 128)
}

.current-question{
    color: rgb(0, 128, 255);
}

.incorrect-ans-idx{
    color: rgb(255, 0, 0);
}

.correct-ans-idx{
    color: rgb(0, 255, 128);
}

.panel ::-webkit-scrollbar {
    width: 10px;
}

.panel ::-webkit-scrollbar-track {
    background: #001224;
}

.panel ::-webkit-scrollbar-thumb {
    background: #002549;
}

.panel ::-webkit-scrollbar-thumb:hover {
    background: #002d5a;
}